<!doctype html>
<html lang="en">
    <head>
        <title>Noter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <a href="{{ url_for('auth.logout')}}">Logout</a>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes" style="list-style-type:none">
    {% for message in messages %}
        <li class="flash"><p>{{ message }}</p></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <a href="javascript:history.back()">Go back</a>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</html>